  
  .modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px; /* Adjust the width to fit the cross */
    height: 30px; /* Adjust the height to fit the cross */
    background: var(--eerie-black);
    color: var(--eerie-black);
    font-size: 16px;
    padding: 5px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-close-btn:hover {
    opacity: 0.9;
  }
  
  .modal-close-btn::before,
  .modal-close-btn::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .modal-close-btn::before {
    top: 50%;
    left: 50%;
  }
  
  .modal-close-btn::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .wrapper-newsletter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    
    /*background-image: url("/images/img03.jpg"); /* Replace "path/to/your/image.jpg" with the actual path to your image 
    background-size: 100% 100%;
    ackground-position: center; */

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
  }
  
  .header-newsletter {
    position: relative;
    padding: 50px 50px 100px 50px;
    min-height: 150px;
    background: url("https://cdn0.iconfinder.com/data/icons/elpis/144/Newsletter-128.png") no-repeat center 130px;
    margin-bottom: 5px; /* Add a margin-bottom value to create space below the header */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
  }
  
  
  /* Rest of the CSS code remains the same */
  
  .header-newsletter h1 {
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
  }
  .header-newsletter p {
    font-size: 13px;
    color:#000000;
  }
  .footer-newsletter {
    display: flex;
    justify-content: space-between;
  }
  .footer-newsletter form {
    flex-grow: 1;
    display: flex;
  }
  .footer-newsletter input {
    background:cornsilk;
    border: none;
    padding: 20px 25px;
    flex-grow: 2;
    color: #000000;
  }
  .footer-newsletter input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
  }
  .footer-newsletter input:focus {
    outline: none;
  }
  .footer-newsletter .btn-submit {
    background:#000000;
    border: none;
    padding: 20px;
    flex-grow: 1;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
  .footer-newsletter .btn-submit:focus {
    outline: none;
  }